@import '../../../scss/mixins/index.scss';

.meetourFounder {
    padding: 100px 0;

    .text {
        padding: 0 0 60px 0;

        h2 {
            @include heading1;
            color: #16171a;
            text-align: center;
        }
    }

    .img {
        display: flex;
        justify-content: center;

        img {
            display: block;
            border-radius: 12px;
            width: 80%;
        }
    }
}