@import '../../../scss/mixins/index.scss';

.whyChooseOurService {
    background-color: #F5F5F7;
    padding: 100px 0;

    .text {
        padding: 0 0 60px 0;

        h2 {
            @include heading1;
            color: #16171a;
            margin: 0 auto;
            text-align: center;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        .griditems {
            padding: 16px;
            border-radius: 12px;
            background-color: #fff;
            display: grid;
            grid-template-columns: 220px 1fr;
            gap: 16px;

            h3 {
                font-size: 22px;
                color: #16171a;
                margin: 0 0 20px 0;
                font-weight: 600;
            }

            p {
                @include font16;
                color: #444;
            }

            .img {
                img {
                    width: 100%;
                    border-radius: 12px;
                    display: block;
                    height: 180px;
                    object-fit: cover;
                }
            }
        }
    }
}