@import '../../../scss/mixins/index.scss';

.input {
    label {
        @include font18;
        color: #444;
        display: block;
        padding: 0 0 8px 0;
    }

    input {
        width: 100%;
        @include font16;
        height: 50px;
        border-radius: 8px;
        padding: 0 20px;
        border: 1px solid #e0e0e0;
        color: #444;
        font-family: "Outfit", sans-serif;


        &:focus {
            outline: none;
            border: 1px solid #F36523;

        }
    }

    ::placeholder {
        @include font16;
        font-family: "Outfit", sans-serif;

    }
}